.newsletter-list .newsletter-form {display:flex; flex-direction:column; justify-content:center; align-items:center; width:100%; position:relative;}
.newsletter-list .footer-block--newsletter .newsletter-form {justify-content:unset; align-items:unset; flex-direction:unset;}
.newsletter-list .newsletter__wrapper-right .newsletter-form__field-wrapper .field__input::placeholder { color: var(--footer-link-color); }






@media screen and (min-width: 750px) {
.newsletter-list .newsletter-form {align-items:flex-start; margin:0; max-width:75rem; position:relative; padding-left:0px;}
}

.newsletter-list .newsletter-form__field-wrapper {width:100%;}
.newsletter-list .newsletter-form__field-wrapper .field__input {padding:0 18rem 0 2.6rem; color:var(--gradient-base-accent-1);}
.newsletter-list .newsletter-form__field-wrapper .field {z-index:0;border: 1px solid rgba(var(--soldout_badge_color_text));border-radius: 15px;height:66px; margin-bottom:0;}
.newsletter-list .newsletter-form__message {justify-content:center; margin-bottom:0; outline:none; box-shadow:none; outline-offset:unset;}
.newsletter-list .newsletter-form__message--success {margin-top:2rem;}

@media screen and (min-width: 750px) {
.newsletter-list .newsletter-form__message {justify-content:center; width:100%;}
.newsletter-list .newsletter-form__button {width:12.8rem;}
}

.newsletter-list .newsletter-form__button {width:16.3rem; top:0; bottom:0; margin:0 0 0 10px; z-index:2; font-size:1.8rem; position:relative;}
.newsletter-list .newsletter-form__button:focus-visible {box-shadow:0 0 0 .3rem rgb(var(--color-background)), 0 0 0 .4rem rgba(var(--color-foreground)); background-color:rgb(var(--color-background)); transition:all 0.3s linear;}
.newsletter-list .newsletter-form__button:focus, .newsletter-list .newsletter-form__button:hover {background-color:var(--gradient-base-accent-2); color:var(--gradient-base-accent-1);}
.newsletter-list .newsletter-form__button .icon {width:1.5rem;}
.newsletter-list .field:after {display:none;}
.newsletter-list .newsletter__wrapper-right {margin-top:40px;}
.newsletter-list .newletter_wrapper-block .field__input {height:5.5rem; background:var(--gradient-base-background-2); border:none;}
.newsletter-list .newletter_wrapper-block .field:hover.field:after {box-shadow:unset;}
.newsletter-list .newletter_wrapper-block .field__button {background-color:transparent; font-family:var(--font-body-family); position:absolute; margin:0; height:auto; width:10rem;}
.newsletter-list .newletter_wrapper-block .field__button svg {width:16px; height:14px; transition:all .3s linear;}
.newsletter-list .newletter_wrapper-block .field__button:hover {color:var(--gradient-base-background-1);}
.newsletter-list .newsletter__wrapper-left h2 {margin:0 0 1rem 0;}
.newsletter-list .newletter_wrapper-block .field__button:hover svg {transform:translateX(10px);}
.newsletter-list .newletter_wrapper-block{
  position: relative;
}
@media screen and (max-width: 749px) {
.newsletter-list .newsletter__wrapper .newsletter-form__field-wrapper {max-width:50rem;}
.newsletter-list .newsletter__wrapper-left {margin-bottom:35px;}
}

.newsletter-list .newletter-demo-5 .newletter_wrapper-block .newsletter__subheading {font-size:1.6rem;}
.newsletter-list .newletter-demo-5.newsletter .newletter_wrapper-block .field__input {background:var(--gradient-base-background-1);}
.newsletter-list .newletter-demo-5 .newsletter__wrapper .newsletter-form__field-wrapper {max-width:60rem; width:60rem;}

@media screen and (min-width: 1200px) {
.newsletter-list .newletter-demo-5 .newletter_wrapper-block {display:flex; align-items:center; justify-content:space-between;}
.newsletter-list .newletter-demo-5 .newsletter__wrapper-left, .newsletter-list .newletter-demo-5 .newsletter__wrapper-right {width:calc(40% - 20px);}
.newsletter-list .newletter-demo-5 .newsletter__wrapper-left {text-align:left; transform:translateX(60px); -webkit-transform:translateX(60px);}
.newsletter-list .newletter-demo-5 .newsletter__wrapper-right {margin-top:0;}
.newsletter-list .newletter-demo-5 .newletter_wrapper-block .newsletter__subheading {margin:0 0 10px;}
.newsletter-list .newletter-demo-5 .newsletter-form {justify-content:flex-end; width:100%; margin:0; max-width:100%; align-items:flex-end;}
.newsletter-list .newletter-demo-5.newsletter .newsletter__wrapper-left:before {left:-60px;}
}

@media screen and (max-width: 1199px) {
.newsletter-list .newletter-demo-5.newsletter .newsletter__wrapper-left:before {transform:translateX(-50%); -webkit-transform:translateX(-50%); left:30%;}
}

@media screen and (max-width: 749px) {
.newsletter-list .newletter-demo-5 .newsletter__wrapper .newsletter-form__field-wrapper {max-width:55rem; width:100%;}
.newsletter-list .newletter-demo-5 .newletter_wrapper-block .field__button {width:6rem;}
.newsletter-list .newletter-demo-5 .newsletter-form__field-wrapper .field__input {padding:0 2rem}
}

@media screen and (max-width: 576px) {
.newsletter-list .newsletter-form__field-wrapper .field__input {padding:0 2.6rem;}
}

.newsletter-list .newsletter__wrapper {padding-right:1.5rem; padding-left:1.5rem;}
.newsletter-list .newsletter__wrapper>* {margin-top:0; margin-bottom:0;}
.newsletter-list .newsletter__wrapper>*+* {margin-top:2rem;}
.newsletter-list .newsletter__wrapper>*+.newsletter-form {margin-top:3rem;}
.newsletter-list .newsletter__subheading {width:100%;max-width:600px; margin:0;}
.newsletter-list .newsletter__wrapper .newsletter-form__field-wrapper {max-width:75rem;}
.newsletter-list .newsletter-form__field-wrapper .newsletter-form__message {margin-top:1.5rem;}
.newsletter-list .newsletter__button {margin-top:3rem; width:fit-content;}

@media screen and (min-width: 750px) {
.newsletter-list .newsletter__button {flex-shrink:0; margin:0 0 0 1rem;}
}

.newsletter-list .newsletter .newletter_wrapper-block .field__input {background:var(--gradient-base-background-2);}
.newsletter-list .newletter_wrapper-block.background--none {background:transparent;}
.newsletter-list .newletter_wrapper-block {display:flex; align-items:center; max-width: calc(var(--page-width) + 8rem); padding: 0 4rem; margin:0 auto;gap: 120px;}
.newsletter-list .newsletter__wrapper-left img {border-radius:50%; border:3px solid var(--gradient-base-accent-1); padding:10px; background:var(--gradient-base-background-1); width:80px;}
.rtl-mode .newsletter-list .newsletter__wrapper-left img {    margin-left: 30px;}

.newsletter-list .newsletter__wrapper-left {display:flex; align-items:flex-start;flex-direction: column;}
.newsletter-list .newsletter__wrapper-left h2 {border-right:2px solid var(--gradient-base-background-1);}
.newsletter-list .newletter_wrapper-block .newsletter__subheading p {padding:0;font-weight: var(--medium-font-weight);line-height: 30px;}
.newsletter-list .newletter_wrapper-block .newsletter__wrapper-right {margin-top:0;flex-grow:1;}
.newsletter-list .newsletter__wrapper-right button#Subscribe {height:4.5rem; margin:0 2.5rem; border-radius:10px;}
.newsletter-list .newsletter__wrapper-right button#Subscribe:not(:hover) {background:var(--gradient-base-accent-1);}
.newsletter-list .newsletter__wrapper-right .newsletter-form__field-wrapper .field__input {padding:0 10rem 0 2.6rem; color:var(--gradient-base-accent-1); min-width:400px; border-radius:50px;height:100%;}

@media screen and (max-width: 1200px) {
.newsletter-list .newletter_wrapper-block {display:block;}
.newsletter-list .newsletter__wrapper-left {margin-bottom:3rem; justify-content:space-evenly;}
.newsletter-list .newsletter__wrapper-left .newsletter__subheading {margin-left:unset; margin-right:unset;text-align:center;}
.newsletter-list .newsletter__wrapper-left{ align-items:center; }
.newsletter-list .newsletter-form{ margin:0 auto; }
}

@media screen and (max-width: 990px) {
  .newsletter-list .newsletter__wrapper-right .newsletter-form__field-wrapper .field__input{min-width:auto;}
.newsletter-list .newsletter__wrapper-left {display:block; text-align:center; justify-content:center; margin:auto;}
.newsletter-list .newsletter__wrapper-left h2 {max-width:100%; padding:0 2rem; border-right:0;}
.newsletter-list .newsletter__wrapper-left .newsletter__subheading p {max-width:100%;}
.newsletter-list .newletter_wrapper-block .newsletter__wrapper-right {margin-top:3rem;}
.newsletter-list .newsletter__wrapper-left .newsletter__subheading {margin-left:auto; margin-right:auto;}
}

@media screen and (max-width:750px){
  .newsletter-list .newletter_wrapper-block{ padding:0; }
}

@media screen and (max-width: 480px) {
.newsletter-list .newsletter__wrapper-right button#Subscribe {width:fit-content; margin:1rem auto 0 auto;}
.newsletter-list .newsletter__wrapper-right .newsletter-form__field-wrapper .field {flex-direction:column;}
.newsletter-list .newsletter__wrapper-right .newsletter-form__field-wrapper .field__input {padding:3rem; min-width:100%;text-align:center;}
}
